<script>
    var remark_config = {
      host: "https://remark42.chrispanag.com", // hostname of remark server, same as REMARK_URL in backend config, e.g. "https://demo.remark42.com"
      site_id: 'chrispanag-blog',
      components: ['embed'], // optional param; which components to load. default to ["embed"]
                             // to load all components define components as ['embed', 'last-comments', 'counter']
                             // available component are:
                             //     - 'embed': basic comments widget
                             //     - 'last-comments': last comments widget, see `Last Comments` section below
                             //     - 'counter': counter widget, see `Counter` section below
      max_shown_comments: 10, // optional param; if it isn't defined default value (15) will be used
      theme: localStorage.getItem("pref-theme"), // optional param; if it isn't defined default value ('light') will be used
      locale: 'en', // set up locale and language, if it isn't defined default value ('en') will be used
      show_email_subscription: true, // optional param; by default it is `true` and you can see email subscription feature
                                     // in interface when enable it from backend side
                                     // if you set this param in `false` you will get notifications email notifications as admin
                                     // but your users won't have interface for subscription
    };
  </script>
  <script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".js"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>

<div style="margin-top: var(--gap);">
  <div style="margin-top: var(--gap);" id="remark42"></div>
  <p><i>To post your comment, you firstly need to login either through Google or Github.</i></p>
</div>
